<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turis_Travel</title>
    <link rel="stylesheet" href="~/css/output.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=plane_contrails" />

</head>
<body>
    <!-- === NAVBAR === -->
        <header class="bg-white shadow-md">
            <nav class="container mx-auto flex items-center justify-between py-4 px-6">
                <!-- Logo -->
            <div class="flex items-center space-x-2">
                <span class="material-symbols-outlined">
                    plane_contrails
                </span>
                <h1 class="text-xl font-semibold text-gray-800">TurisTravel</h1>
            </div>


                <!-- Menú -->
                <ul class="hidden md:flex items-center space-x-8 text-gray-700">
                    <li><a href="#" class="hover:text-blue-600">Inicio</a></li>
                    <li><a href="#" class="hover:text-blue-600">Destinos</a></li>
                    <li><a href="#" class="hover:text-blue-600">Ofertas</a></li>
                    <li><a href="#" class="hover:text-blue-600">Contacto</a></li>
                <!-- Botón Reservar -->
                <a href="#"
                   class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg transition">
                    Reservar Ahora
                </a>
                </ul>

                
            </nav>
        </header>

        <main>
        @RenderBody()
        </main>

</body>
</html>
