@model Turis_Travel.Models.Paquetes

@{
    ViewData["Title"] = "Crear Paquete";
}

<h2 class="mb-4 fw-bold text-center">Crear Nuevo Paquete Turístico</h2>

<div class="card shadow p-4">
    <form asp-action="Create">
        <div class="mb-3">
            <label class="form-label">Nombre del Paquete</label>
            <input asp-for="Nombre_paquete" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea asp-for="Descripcion" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Precio Base</label>
            <input asp-for="Precio_base" class="form-control" />
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Fecha Inicio</label>
                <input asp-for="Fecha_inicio" type="date" class="form-control" />
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Fecha Fin</label>
                <input asp-for="Fecha_fin" type="date" class="form-control" />
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Capacidad Máxima</label>
            <input asp-for="Capacidad_maxima" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Estado</label>
            <input asp-for="Estado" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success px-4">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </form>
</div>
